/* General styles */

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: 100%;
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
}


/* HEADER TOP */
.container{
  max-width: 1400px;
  max-height: 80px;
}

.header-top{
  display: flex;
  height: 40px;
  margin: 20px 115px;
  align-items:center;
  justify-content: space-between;
  background-color: #fff;
}

.logo{
  width: 124px;
  height: 40px;
}

.header-list{
  display: flex;
  width: 890px;
  height: 18px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: end;
  list-style-type: none;
  font-weight: bold;
}

.header-list :not(:last-child){
  margin-right: 35px;
}

.header-item{
  color:#132047;
  text-decoration: none;
}

/* MAIN CONTENT */

.main-bg{
  position: absolute;
  width: 1400px;
  height: 620px;
}

.main-text{
  position: relative;
  padding-top: 136px;
  padding-left: 115px;
}

.main-title{
  margin: 0;
  width: 546px;
  font-size: 60px;
  line-height: 120%;
  color: #fff;
}

.main-describtion{
  margin: 0;
  margin-top: 37px;
  width: 292px;
  line-height: 136%;
  font-size: 16px;
  color: hsl(0, 0%, 70%);
}

.product-line{
  margin-top: 50px;
  background-color:#235AFF;
  color:#FFF;
  font-size: 16px;
  text-transform: uppercase;
  width: 270px;
  height: 60px;
  border-radius: 50px;
  border: 0;
  box-shadow:0px 20px 40px 1px rgba(42, 47, 52, 30%) ;
}

.sign{
  width: 65px;
  height: 65px;
  display: flex;
  position: relative;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
}

.who-help{
  z-index: 1;
  width: 1170px;
  font-size: 40px;  
  text-align: center;
  margin:0 115px;
}

.who-help_title{
  margin-top: 100px;
}

.who-help-boxes{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.box{
  background-color:#F4F9FF;
  width: 370px;
  height: 307px;
}

.list{
  padding: 35px 30px;
  margin: 0;
  list-style-type: none;
}

.item{
  margin-right: auto;
  margin-left: auto;
  width: 55px;
  height: 55px;
}

.item_title{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.item_text{
  font-size: 16px;
  line-height: 130%;
}

.line{
  margin: 100px 0px 80px 0;  
  border-bottom: 1px solid rgba(51, 51, 51, 20%);
}  

.manufacturer{
  position: relative;
  width: 585px;
  height: 104px;
  font-size: 40px;
  line-height: 130%;
  color: #132047;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 65px;
}

.box2{
  justify-content: space-between;
  display: flex;
  margin-bottom: 45px;  
}


.reinvent{
  position: absolute;
  width: 1400px;
  height: 464px;
}

.middle-text{
  position: relative;
  text-align: center;
}

.middle-title{  
  padding-top: 120px;
  margin: 0;
  font-size: 40px;
}

.middle-description{
  margin-top: 25px;
  font-size: 16px; 
  margin-bottom: 0;
  width: 270px; 
  margin-left: auto;
  margin-right: auto;
  color:#545F82;
}

.product-line2{
  margin-top: 50px;
}

.img-icons{
  display: flex;
  position: absolute;
  margin-left: 145px;
  margin-top: -30px;
  justify-content:space-between;
  width: 1110px;
}

.ellipse{
  width: 170px;
  height: 170px;
}

.img-front{
  display: flex;
  position: absolute;
  margin-left: 190px;
  margin-top: -120px;
  justify-content:space-between;
  width: 1030px;
}

.bottle{
  height: 237px;
}

.white-box{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
  border-radius:5px;
  width: 667px;
  height: 90px;
  font-size: 14px;
  background-color:#FFF;
  box-shadow:0px 20px 40px 1px rgba(42, 47, 52, 30%);
}

.line1, .line2{
  font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  font-stretch:ultra-expanded;  
  color:#545F82;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.cbd-steps{
  margin: 100px auto 0 auto;
  font-size: 40px;
  line-height: 130%;
  width: 541px;
  height: 104px;
  color:#132047;
}

.cbd-label{
  margin-top: 172px;
  width: 522px;
  display: flex;
}
/* ********************************************************************************* */
.point1{
  width: 200px;
  height: 72px;
  transform: translateX(-70%) translateY(-130%); 
  text-align: end;
}

.title1{
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  height: 30px;
  color:#1776DE;
  font-weight: bold;
}

.desc1{
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  color:#545F82;
}

.point2{
  width: 200px;
  height: 72px; 
  transform: translateX(-110%) translateY(-480%); 
  text-align: end;
}

.title2{
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  color:#31B166;
  font-weight: bold;
}

.point3{
  width: 200px;
  height: 72px; 
  transform: translateX(-97%) translateY(-840%); 
  text-align: end;
}

.title3{
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  color:#CF4DD8;
  font-weight: bold;
}

.point4{
  width: 200px;
  height: 72px;
  transform: translateX(77%) translateY(-1200%); 
  text-align: center;
}

.title4{
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  color:#E44041;
  font-weight: bold;
}

.desc2{
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  color:#545F82;
}

.point5{
  width: 200px;
  height: 72px;
  transform: translateX(255%) translateY(-1040%); 
  text-align: start;
}

.title5{
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  color:#E7832C;
  font-weight: bold;
}

.desc3{
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  color:#545F82;
}

.point6{
  width: 200px;
  height: 72px;
  transform: translateX(270%) translateY(-880%); 
  text-align: start;
}

.title6{
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  color:#46A2A7;
  font-weight: bold;
}

.point7{
  width: 282px;
  height: 72px;
  transform: translateX(165%) translateY(-750%); 
  text-align: start;
}

.title7{
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  color:#54B230;
  font-weight: bold;
}
/* ************************************************************************* */
.testimonials-bg{
  height: 490px;
}

.testimonials{
  margin-top: 795px;
  width: 1400px;
}

content{
  position: relative;
  align-items:center;
  display:grid;
}

.slides{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.boxes{
  width: 320px;  
  height: 200px;
  padding: 25px;
  background-color:#FFF;
}

.boxes:not(:last-child){
  margin-right: 30px;
}

.testimonials-title{
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-top: 80px;
  margin-top: 0;
  margin-bottom: 50px;
}

.author-part{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-right: 18px;
}

.author-name{
  margin-left: -100px;
  font-weight: bold;
  font-size: 16px;
}

.author-comment{
  font-size: 16px;
  color:#545F82;
}

/* ************************************************************************************** */

.question-part{
  position: relative;
  margin-top: 150px;
}

.q-title{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.questions{
  display: flex;
  width: 770px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 15%);
  margin-left: auto;
  margin-right: auto;
}

.qw{
  font-size: 20px;
  width: 570px;
}

/* *************************************************************************************** */

.footer-section{
  background-color:#132047;
  color: #FFF;
}

.footer-part{
  display: flex;
  width: 1400px;
  height: 300px;
  margin-top: 100px;
  padding-top: 70px;
  justify-content: space-between;
}

.footer-logo{
  margin-left: 115px;
  margin-top: 10px;
  width: 135px;
  height: 44px;
}

.flist{
  display:flex;
  justify-content: space-between;
  width: 350px;
  height: 178px;
}

.footer-list{
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  line-height: 57px;
  list-style-type: none;  
  font-size: 18px;
}

.f-l-item{
  margin: 0;
  padding: 0;
}

.phone{
  font-size: 26px;
}

.email{
  display: flex;
  font-size: 20px;
  color:#A1A6B5;
  margin-right: 115px;
}
.email::before{
  content:"";
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-self:center;
  background: url("/img/envelope.svg") no-repeat center center / contain;
}

.fline{
  margin: 0 auto 10px auto;
  width: 1170px;
  border-bottom: 5px solid rgba(225, 216, 216, 0.2);
}

.underline{
  display: flex;
  color:rgba(255, 255, 255, 60%);
  justify-content: space-between;
  padding-bottom: 18px;
  margin:0 115px 0px 115px;
  font-size: 14px;
}

.fmiddle-text{
  margin-left: 500px;
}

/* *******************************************PRODUCTS****************************************** */

.our-products{
  width: 1170px;
  height: 400px;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 20px;
  background-color:#132047;
}

.address-link{
  display: flex;
}

.home {
  display: flex;
  color:rgba(255, 255, 255, 50%);
  text-decoration: none;
}
.home::before{
  content:"";
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-self:center;
  background: url("/img/home.svg") no-repeat center center / contain;
}

a{
  color:#FFF;
  text-decoration: none;
}

.title-img{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.title{
  font-size: 60px;
  color:#FFF;
}

.product-img{
  margin-right: 50px; 
}

.main-points{
  width: 1400px;
  height: 170px;
}

.points-list{
  display:flex;
  background-color:#F4F9FF;
  width: 1170px;
  height: 184px;
  margin: 80px 115px;
  padding-left: 0;
  list-style-type: none;
}
/* margin-bottom: 0; */

.points-item{
  margin: 40px 32px;
  width: 335px;
}
.points-item:not(:first-child){
  padding-left: 32px;
  margin-left: 0;
  border-left: 2px solid rgba(35, 90, 255, 20%);
}

.points-title{
  font-size: 20px;
  margin-top: 0;
}

.points-text{
  font-size: 16px;
}

/* ************************************************************************************ */

.img-oil-tinctures{
  display: flex;
  margin-left: 115px;
}

.drug-cbd{
  height: 388px;
  width: 400px;
}

.drug-info{
  font-size: 16px;
  margin-left: 100px;
}

.drug-cbd-title{
  font-size: 32px;
  margin-bottom: 10px;
}

.drug-cbd-text{
  width: 570px;
  margin-top: 0;
  color: #545F82;
}

.ingredient-box{
  width: 670px;
  height: 252px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color:#F4F9FF;
  border-top-right-radius: 50px;
}

.compaund{
  width: 250px;
  margin-left: 30px;
}

.title-cbd{
  margin-bottom: 10px;
}
.text-cbd{
  margin-top: 0;
}

.cbd-order{
  width: 200px;
  height: 60px;
  margin-top: 30px;
  transform: translateX(470px);
  margin-bottom: -50px;
}

.drug-cbd-title2{
  margin-top: 0;
}

.ingredient-box2{
  height: 200px;
  margin-top: 40px;
  border-top-right-radius:0;
  border-top-left-radius: 50px;
}

.cbd-order2{
  transform: translateX(0);
}

.ingredient-box3{
  height: 140px;
}

.drug-cbd{
  height: auto;
}

.title-cbd3{
  margin-top: 12px;
}

.ingredient-box4{
  height: 380px;
  border-top-right-radius:0;
  border-top-left-radius: 50px;
}

.drug-cbd{
  margin-top: 80px;
  height: 400px;
}

.last_pr{
  font-size: 40px;
  color:#132047;
  text-align: center;
  margin-bottom: 80px;
}

.last_list{
  width: 320px;
  text-align: center;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.last_title{
  margin-top: 28px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.last_text{
  font-size: 16px;
  margin-top: 15px;
}

.last-box{
  margin-left: 115px;
  margin-right: 115px;
  margin-bottom: 0;
}